body{
    margin: 0;
}

 /* paragraph left dike dhuke geche */
/* .box{
    width: 300px;
    height: 300px;
    background-color: fuchsia;
    float:left;

} */


/* sohoj vabe bijhar jonno */
/* .box{
    width: 300px;
    height: 300px;
    /* background-color: fuchsia; */
/*     border: 1px solid black;
    float:left;
}
p{
    background-color: gold;
}
 */ 


 /* paragraph right dike dhuke geche */
/* .box{
    width: 300px;
    height: 300px;
    background-color: fuchsia;
    float:right;
} */

.box{
    width: 300px;
    height: 300px;
    border:2px solid green;
    float: left;
    
    
}


p{
   
   /*  clear: left; */
    background-color: red;
    
}