*{
    margin: 0;
    padding: 0;
   
}
.main{
   margin: 150px auto;
}
.box{
    display: inline;
    /* margin-left: 50px; */
    
}

.box img{
    width: 250px;
    height: 200px;
    position: relative;
   /*  left: 50px; */
    /* transition: 1s; */
    transition: 4s;
}

.box:hover img{
    width: 250px;
    height: 200px;
    /* margin-left: 20px; */
   /*  transform: rotate(360deg); */
   /* transform: scale(1.1); */
  /*  transform: skew(25deg); */
  /* transform: translate(550px); */
   transform: translateY(300px);
 
}