*{
    margin: 0;
    padding: 0;
}

.first{
    background-color: khaki;
}
.div2{
    width: 300px;
    height: 300px;
    background-color: hotpink;
    position: relative;
    top: 200px;  
    left: 400px;   
}

.div1{
    width: 300px;
    height: 300px;
    background-color: rgb(196, 8, 8);
}

.div2 h2{
    text-align: justify;
    margin-top: 50px;
    margin: 25px;
}

